# Allow the s1500d service and the active desktop user to access the S1500.
# Install: sudo cp 99-scansnap.rules /etc/udev/rules.d/
#          sudo udevadm control --reload-rules
SUBSYSTEM=="usb", ATTR{idVendor}=="04c5", ATTR{idProduct}=="11a2", GROUP="s1500d", MODE="0660", TAG+="uaccess"
